@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.vdr{
  border: none !important;
}

//line-loading 流动图
.linePlay {
  width: 100%;
  height: 100%;
  animation-name: linePlayAni;
  animation-duration: 0.5s;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
  background-size: 30px 30px;
  background-image: linear-gradient(
      45deg,
      #3246bc 25%,
      transparent 25%,
      transparent 50%,
      #3246bc 50%,
      #3246bc 75%,
      transparent 75%,
      transparent
  );
}

.linePlayBox {
  &:before{
    content: "";
    position:absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/line/lineBg.png);
    background-size: 100% 100%;
    z-index: -1;
  }
}
@keyframes linePlayAni {
  0% {
      background-position: 0 0;
  }
  100%{
      background-position: 60px 30px;
  }
}
@keyframes linePlayAni2 {
  0% {
      background-position: 60px 30px;
  }
  100%{
    background-position: 0 0;
  }
}